*{
    box-sizing: border-box;
}
.container{
    background-color: rgb(128, 128, 126);
    height: 100vh;
}
.box{
    background-color: rgb(241, 235, 235);
    border: 2px solid;
    padding: 25px;
    height: auto;
    width: 50%;
    float: left;
    text-align: center;

    min-height: 50%;

}